
.first-icon{
   width: 25px;
   height: 25px;
   border: 1px transparent;
   border-radius: 5px;
   background-color: rgb(5, 73, 5);
   display: flex;
   align-items: center;
   justify-content: center;
     
}
.svg-1{
    width: 15px;
    height: 15px;
    color: white;
}
.side-card{
    display: inline-flex;
    align-items: center;
    gap: 8px;
}
.cut-1{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 10px;
    width: 230px;
    height: 30px;
    background-color: #E6F2EF;
    border-radius: 5px;
    padding: 0 5px;
}
.cut-2{
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0 5px;
}
.side-icon{
    width: 16px;
    height: 16px;
}
.home-bar{
    line-height: 5px;
    margin: 10px 0;
}
.only{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #E6F2EF;
    display: flex;
    align-items: center;
    justify-content: center;
}
.thread{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin: 15px 0;

}
.thread-container{
    margin: 10px 0;
}
body{
    padding: 10px 30px;
}
main{
    display: flex;
}
.img-1{
    width: 33px;
    height: 33px;
    border-radius: 50%;
}
.search{
    width: 250px;
    height: 37px;
    padding: 0 30px;
  border-radius: 6px;
  border: 1px solid #E6F2EF;
  
    
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='gray' stroke-width='2'><circle cx='11' cy='11' r='8'/><line x1='21' y1='21' x2='16.65' y2='16.65'/></svg>");
  background-repeat: no-repeat;
  background-position: 10px center;
  background-size: 16px;
}
.btn-1{
    width: 125px;
    height: 37px;
    border-radius: 5px;
    border: 1px transparent;
    background-color: rgb(5, 73, 5);;
    color: white;

}
.btn-img{
    display: inline-flex;
    gap: 7px;
    align-items: center;
}
.top-bar{
    display: inline-flex;
    gap: 490px;
    padding: 0 20px;
    
}
.img-2{
    width: 34px;
    height: 34px;
    border: 1px solid #E6F2EF;
    border-radius: 10px;
     
}
strong{
    display: block;
    font-size: 20px;
}
.front{
    display: flex;
    align-items: first baseline;
    gap: 80px;
}
.dot{
    width: 30px;
    height: 30px;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.join{
    display: inline-flex;
    align-items: center;
    gap: 7px;
}
.book-card{
    width: 305px;
    border: 1px transparent;
    padding: 10px 10px;
}
.lucide{
    width: 13px;
}
.pin{
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 5px;
    font-size: small;
}
.date{
    display: inline-flex;
    gap: 7px;
}
.boy{
    padding-left: 120px;
}
hr{
    width: 100%;
}
a{
    text-decoration: none;
    color: black;
}
.repeat{
    display: flex;
    flex-wrap: wrap;
}
.space{
    padding: 0 10px;
   

}
.main-btn{
    display: flex;
    gap: 10px;
    
}
.btn{
    border: none;
    outline: none;
}
nav{
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    gap: 725px;
}
.sort{
    width: 70px;
    height: 25px;
    border: 1px solid;
    padding: 0 5px;
    display: flex;
    justify-content:  center;
    align-items: center;
    border-radius: 5px;

}