.side-bar{
    width: 20%;
    min-height: 100vh;
    background-color: white;
}
.main-bar{
    width: 80%;
    min-height: 100vh;
    background-color: black;
}
main{
    display: flex;
    
    
}
body{

}