body{
    padding: 30px 230px;
    background-color: #01012A;
}
.arrow{
    padding-bottom: 8px;
    
}
.st-svg{
    width: 10px;
    height: 10px;
}
.first-box{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 7px;
    border: 1px transparent;
    background-color: #282943;
    padding: 0 8px;
    border-radius: 5px;
    color: #D9D7D8;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav strong{
    color: #EFEFEF;
}
.bar {
  width: 250px;
  padding: 10px 12px 10px 36px;
  border-radius: 6px;
  border: 1px transparent;
  background-color: #282943;
    
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='gray' stroke-width='2'><circle cx='11' cy='11' r='8'/><line x1='21' y1='21' x2='16.65' y2='16.65'/></svg>");
  background-repeat: no-repeat;
  background-position: 10px center;
  background-size: 16px;
}
button{
    width: 70px;
    height: 36px;
    border-radius: 6px;
    background-color: blue;
    border: 1px transparent;
    color: #D9D7D8;

}
.center{
    text-align: center;
}
.center h1{
    color: white;
    margin: 40px 0;
}
.search-bar{
    display: flex;
    justify-content: center;
    gap: 10px;
}
input::placeholder {
    color: #D9D7D8;
}
.hero h2,p{
    line-height: 9px;

}
.hero{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 150px;
    background-color: blue;
    border: 1px transparent;
    border-radius: 10px;
    width: 457px;
    height: 180px;
    padding: 0 20px;
    margin: 30px 0;
    color: #D9D7D8;
}
#number{  
    font-size: 60px;
    color: white;
    padding-left: 63px;
}
.hero h2{
    font-size: 22px;
}
.weather-card{
    display: flex;
    align-items: center;
    color: #D9D7D8;
    gap: 13px;

    
}
.Weather{
    border: 1px transparent;
    border-radius: 9px;
    background-color: #282943;
    width: 84.5px;
    height: 75px;
    padding: 2px 15px;
}
p{
    font-size: 13px;
}
.mini-degrees{
    display: flex;
    align-items: center;
    gap: 15px;
}
.forcast{
    display: flex;
    align-items: center;
    color: #D9D7D8;
    gap: 10px;
    margin: 15px 0;
}
.degrees{
    border: 1px transparent;
    border-radius: 9px;
    background-color: #282943;
    text-align: center;
    width: 52.3px;
    padding: 5px 5px;
}
.date{
    background-color: #282943;
    border: 1px transparent;
    border-radius: 5px;
    height: 25px;
    padding: 0 3px;
    color: #D9D7D8;
}
.minutes{
    display: flex;
    align-items: center;
    gap: 140px;
}
.time{
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: #282943;
    border: 1px transparent;
    border-radius: 5px;
    width: 223px;
    padding: 0px 6px;
    margin: 5px 0;
}
.hourly{
   position: relative;
   left: 515px;
   bottom: 475px;
   color: #D9D7D8;
   background-color: #393a5c;
    width: 235px;
    height: 437px;
    padding: 12px 15px;
    border-radius: 10px;
   
}
.for-input{
    display: flex;
    align-items: center;
    gap: 30px;
}
h3{
    font-size: 15px;
}
button:hover{
    background-color: #3c42f0;
} 